<h3>{logo}</h3><h4>Payment Details</h4><p>Dear{contact_person},</p><p>Payment for order
    ({reference_number}) has been added. Please visit {site_link} to manage your orders.</p><p>
    <a href="{client_link}"></a></p><p>Kind Regards,
    </p><p>Rocy Hotel</p><p>Tel: +254722864021</p><p>Email: rocyhotel@gmail.com</p><p>Location: 3rd Floor Rehema House, Standard Street, Nairobi CBD</p><p><a href="http://www.tandyevents.co.ke/"></a></p><p>Web: <a href="https://www.enkorokmaracamp.com/">www.enkorokmaracamp.com</a></p><p><a href="http://www.tandyevents.co.ke/"></a></p>